@font-face {
    font-family: StratosSkyeng;
    font-weight: 400;
    font-style: normal;
    src: local("StratosSkyeng"),
        url("/gameFindCards/font/stratosskyengweb-regular.woff2")
            format("woff2"),
        url("/gameFindCards/font/stratosskyengweb-regular.woff") format("woff");
}

@font-face {
    font-family: StratosSkyeng;
    font-weight: 700;
    font-style: normal;
    src: local("StratosSkyeng"),
        url("/gameFindCards/font/stratosskyengweb-bold.woff2") format("woff2"),
        url("/gameFindCards/font/stratosskyengweb-bold.woff") format("woff");
}

body {
    font-family: "StratosSkyeng", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #004980;
    display: flex;
    justify-content: center;
}

.app {
    margin-top: 158px;
    margin-bottom: 158px;
}

.content {
    background: #c2f5ff;
    border-radius: 12px;
    height: 459px;
    margin-top: 158px;
    margin-bottom: 158px;
    padding-top: 52px;
    min-width: 480px;

    &__link {
        display: flex;
        width: 97px;
        height: 98px;
        justify-content: center;
        align-items: center;
        color: #0080c1;
        font-size: 64px;
        line-height: 72px;
        background: #fff;
        border-radius: 12px;
        text-decoration: none;
    }
}

.title {
    text-align: center;
    font-size: 40px;
    line-height: 48px;
    color: #004980;
    max-width: 208px;
    margin: 0 auto;
}

.link-wrapper {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 48px;
}

.button {
    width: 246px;
    height: 50px;
    background: #7ac100;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    border: none;
    cursor: pointer;

    &--start {
        margin: 0 auto;
        margin-top: 67px;
        font-size: 24px;
        line-height: 32px;
    }

    &--clear {
        grid-area: button;
        margin-left: auto;
        margin-top: auto;
    }
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    grid-area: card;
}

.card {
    width: 95px;
    height: 133px;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background-image: url("../img/card-side.svg");
        background-repeat: no-repeat;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.board-wrap {
    display: grid;
    gap: 48px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "timer button"
        "card card";
    max-width: 1024px;
    padding: 22px;
    margin: auto;
}

.timer {
    grid-area: timer;
    display: inline-grid;
    grid-template-columns: max-content min-content max-content;
    font-weight: 400;
    font-size: 64px;
    line-height: 50px;
    color: #fff;
    align-items: end;

    &__title {
        font-size: 16px;
        line-height: 32px;
        text-align: right;
    }
}
